a{
    text-decoration: none;
    color: inherit;
}
.css-1kby834-MuiPaper-root-MuiAppBar-root{
    height: 40px;
    margin-top: 60px;
}
.css-1kby834-MuiPaper-root-MuiAppBar-root .css-r6ewbb-MuiToolbar-root{
    margin-top: -10px;
}